@model AdminLeaveRequestViewVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>AdminLeaveRequestViewVm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalRequests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalRequests)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedRequests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedRequests)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PendingRequests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PendingRequests)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RejectedRequests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RejectedRequests)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
